/* styles.css */

#banner {
    background-image: url("./assets/thisisengineering-raeng-0l2PPgrHXX4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 25em;
    }

#achievements {
    color: #ffffff;
    background-color: #18596b;
} 

#contact {
    background-color: #18596b;
    color: #ffffff;
}

#team {
    background-color: #18596b;
    color: #ffffff;
}

#credits {
    background-color: #18596b;
}

#contact .a {
    color: #ffffff!important;
}

.service-card {
    width: 20rem;
    border: #ffffff;
    justify-content: around;
}

.service-card-img {
    width: 10rem;
}

.text-justify {
    text-align: justify;
}

.link-black {
    color: #000000;
}